body{
  background-color: lightsteelblue;
  font-family: helvetica;
}

input {
  font-size: 1.6rem;
  height: auto;
}

input[type="search"] {
  flex: 3;
}

input[type="date"] {
  width: 100%;
}

#boxdiv {
  padding: 0 30 30 30;
  border: 10px solid steelblue;
  border-radius: 20px;
  background-color: lightsteelblue;
  margin: 0 auto;
}

table {
  border: none;
}

#divtable {
  border: none;
}

th, td {
  text-align: center;
  padding: 3 6 3 6;
}

h1{
  font-size: 3rem;
}

#submit {
  height: 5%;
  width: 17%;
}

button{
  height: 4%;
  width: 6%;
  border-radius: 12px;
  border: 0;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: darkblue;
  color : white;
}

button:hover{
  background-color: white;
  color : black;
}

label{
  font-size: 1.6rem;
}