body{
  background-color: lightsteelblue;
  font-family: helvetica;
}

input {
  font-size: 1.6rem;
  height: auto;
}

input[type="search"] {
  flex: 3;
}

#boxdiv {
  padding: 0 30 30 30;
  border: 10px solid lightsteelblue;
  border-radius: 20px;
  background-color: lightsteelblue;
  width: 80%;
  margin: 0 auto;
}

th, td {
  padding: 4px;
}

h1{
  font-size: 3rem;
}

button{
  height: 4%;
  width: 6%;
  border-radius: 12px;
  border: 0;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: darkblue;
  color : white;
}

button:hover{
  background-color: white;
  color : black;
  font-size: 1.5rem;
}

label{
  font-size: 1.6rem;
}