body{
  background-color: lightsteelblue;
  font-family: helvetica;
}

input {
  font-size: 1.6rem;
  height: auto;
}

input[type="search"] {
  flex: 3;
}

input[type="date"] {
  width: 100%;
}

#boxdiv {
  padding: 0 30 30 30;
  border: 10px solid steelblue;
  border-radius: 20px;
  background-color: lightsteelblue;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 3 6 3 6;
  border: 2px solid black;
}

#clickable {
  cursor: pointer;
}

#clickable:hover {
  background: white !important;
}

h1{
  font-size: 3rem;
}

#login {
  height: 5%;
  width: 15%;
}

#ban {
  height: 5%;
  width: 5%;
}

#addelete {
  height: 5%;
  width: 17%;
}

input[type=submit] {
  height: 4%;
  width: 6%;
  border-radius: 12px;
  border: 0;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: darkblue;
  color : white;
}

button {
  height: 4%;
  width: 6%;
  border-radius: 12px;
  border: 0;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: darkblue;
  color : white;
}

button:hover{
  background-color: white;
  color : black;
}

label{
  font-size: 1.6rem;
}